repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8  # pin to a specific version
    hooks:
      - id: ruff
        args: ["check", "."]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
